<a href="https://colab.research.google.com/github/s27dsam/DS_learn/blob/main/diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [3]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection and analysis

In [4]:
df = pd.read_csv('/content/diabetes.csv')

In [9]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [10]:
df.shape

(768, 9)

In [12]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [13]:
df.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [31]:
X = df.drop(columns= 'Outcome', axis=1)
Y = df['Outcome']

Data Standardization for converting the range of data scores into one standard score like a z-score in stats all the values are between 0 and 1

In [17]:
scaler = StandardScaler()

In [32]:
scaler.fit(X)

StandardScaler()

In [21]:
standardized_data = scaler.transform(x)

In [22]:
standardized_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [33]:
X = standardized_data
Y = df['Outcome']

In [34]:
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

NOW that we have standarized all the data but the outcome and seperated the outcome into Y and X beign the standarised data between 0 nad 1 we can start training out model

In [35]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

the test size is the amount of data your model will test on. so testing the model on 20% of our data should be good.



1.  stratify Y is the random sampling technique we are using so we dont have all 1's or 0's in the training and testing
2.   random state

154 is the test data

In [36]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

In [41]:
classifier = svm.SVC(kernel='linear')

In [42]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

training the support vector machine Classifier

In [43]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

now we see how accurate our train model is onthe test data set aside

In [44]:
X_train_predict = classifier.predict(X_train)

In [45]:
training_data_accuracy = accuracy_score(X_train_predict, Y_train)

In [49]:
print('Accuracy score of the trainign data is =',training_data_accuracy)

Accuracy score of the trainign data is = 0.7866449511400652

now our model is ready for the 20% data we set aside to see how it performs.

In [50]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [51]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7727272727272727