<a href="https://colab.research.google.com/github/s27dsam/DS_learn/blob/main/nba_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
import pandas as pd
import requests 
import json
import seaborn as sns

In [62]:
r = requests.get('https://balldontlie.io/api/v1/stats')
x = r.json()
df = pd.DataFrame(x['data'])

In [64]:
df.head()

Warning: Total number of columns (23) exceeds max_columns (20). Falling back to pandas display.

        id  ast  ...                                               team  turnover
0  1069008  0.0  ...  {'id': 26, 'abbreviation': 'SAC', 'city': 'Sac...       2.0
1  1069009  4.0  ...  {'id': 26, 'abbreviation': 'SAC', 'city': 'Sac...       0.0
2  1069010  4.0  ...  {'id': 26, 'abbreviation': 'SAC', 'city': 'Sac...       2.0
3  1069011  1.0  ...  {'id': 26, 'abbreviation': 'SAC', 'city': 'Sac...       0.0
4  1069012  8.0  ...  {'id': 26, 'abbreviation': 'SAC', 'city': 'Sac...       4.0

[5 rows x 23 columns]

Warning: Total number of columns (23) exceeds max_columns (20) limiting to first (20) columns.

In [65]:
df.describe()

                 id        ast        blk  ...        reb        stl   turnover
count  2.500000e+01  24.000000  24.000000  ...  24.000000  24.000000  24.000000
mean   1.069020e+06   2.041667   0.291667  ...   3.666667   0.750000   1.250000
std    7.359801e+00   2.136213   0.464306  ...   3.795497   1.032094   1.421879
min    1.069008e+06   0.000000   0.000000  ...   0.000000   0.000000   0.000000
25%    1.069014e+06   0.750000   0.000000  ...   1.000000   0.000000   0.000000
50%    1.069020e+06   1.000000   0.000000  ...   2.500000   0.000000   0.500000
75%    1.069026e+06   3.250000   1.000000  ...   5.000000   1.250000   2.000000
max    1.069032e+06   8.000000   1.000000  ...  16.000000   3.000000   4.000000

[8 rows x 19 columns]

In [68]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

id          1.069020e+06
ast         2.041667e+00
blk         2.916667e-01
dreb        2.708333e+00
fg3_pct     1.977917e-01
fg3a        2.958333e+00
fg3m        9.166667e-01
fg_pct      3.497917e-01
fga         7.291667e+00
fgm         3.250000e+00
ft_pct      3.645833e-01
fta         1.750000e+00
ftm         1.291667e+00
oreb        9.583333e-01
pf          1.583333e+00
pts         8.708333e+00
reb         3.666667e+00
stl         7.500000e-01
turnover    1.250000e+00
dtype: float64

In [69]:
df.columns

Index(['id', 'ast', 'blk', 'dreb', 'fg3_pct', 'fg3a', 'fg3m', 'fg_pct', 'fga',
       'fgm', 'ft_pct', 'fta', 'ftm', 'game', 'min', 'oreb', 'pf', 'player',
       'pts', 'reb', 'stl', 'team', 'turnover'],
      dtype='object')

In [70]:
df.shape

(25, 23)